/introduction/storage_engines_and_dataTypes.txt
/introduction/Numeric_DataTypes.jpg
/introduction/Date_Time_DataTypes.jpg
/introduction/String_DataTypes.jpg
/.
/planning_and_design/database_design_process/step6_refine_if_needed.jpg
/planning_and_design/database_design_process/step5_create_diagram.jpg
/planning_and_design/database_design_process/step4_determine_relationships.jpg
/planning_and_design/database_design_process/step3_determine_fields.jpg
/planning_and_design/database_design_process/step2_define_your_tables.jpg
/planning_and_design/database_design_process/step1_define_purpose.jpg
/planning_and_design/database_design_process/design_process.jpg
/planning_and_design/principles_and_normalization/furst_normal_form.jpg
/planning_and_design/principles_and_normalization/third_normal_form.jpg
/planning_and_design/principles_and_normalization/second_normal_form.jpg
/planning_and_design/principles_and_normalization/relational_model_rules.jpg
/planning_and_design/principles_and_normalization/functional_dependencies.jpg
/planning_and_design/principles_and_normalization/database_normalization.jpg
/planning_and_design/principles_and_normalization/common_design_mistakes.jpg
/planning_and_design/principles_and_normalization/3nf_example.jpg
/planning_and_design/principles_and_normalization/1NF Example.jpg
/.idea/
